@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="side">
        Описание соц.сети
    </div>

    <div class="main">
        блок регистрации
        блок авторизации
    </div>
</div>
